.search-container {
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(90deg, #74ff67 0%, #5165e9 100%);
  display: flex;
  align-items: center;
  padding: 30px;
  margin-bottom: 40px;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.input-container input {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 40px;
  font-size: 18px;
}

.input-container img {
  width: 30px;
  height: 30px;
}
